
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="aligner">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Welcome to Arbitec Dispute Resolution</h5>
          <h6 class="card-subtitle mb-2 text-muted">Please log in to continue</h6>
          <p class="card-text">"Mission statement"</p>
          <a href="/login" class="card-link">Log in</a>
          <a href="/signup" class="card-link">Sign up</a>
        </div>
      </div>
    </div>
  </header>
</body>
</html>